
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    vertical-align: middle;
    line-height: 30px;
}
li {
    display: inline-block;
    padding: 8px;
    
}
.right-side{
    display: inline-block;
    float: right;
    padding: 8px;
}

#profpic{
    border-radius:50%;
    vertical-align: baseline;
}

.logo{
    text-align: center;
    margin-top:100px;
}
.search-field{
    padding-top: 20px;
    display: flex;
    justify-content: center;
}
#search-bar{
    width: 500px;
    height: 30px;
    border-radius: 15px;   
}
.buttons{
    display: flex;
    padding-top: 15px;
    justify-content: center;
}
.bottom-nav{
    padding: 8px;
     background-color: #eeeeee;
     line-height: 30px;
     
 }
#footer{
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}
