
ul{
   
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li {
    display: inline;
    padding: 8px;
    
}
#right-side{
    float: right;
    padding: 8px;
    vertical-align: middle;
}




#profpic{
    border-radius:50%;
  
}

.bottom-nav{
    display:flex;
    justify-content: space-between;
    margin-top: 600px;
    background-color: #eeeeee;
}



.logo{
    text-align: center;
    margin-top:100px;

    
    
}
.search-field{
    padding-top: 20px;
    display: flex;
    justify-content: center;
}
#search-bar{
    width: 500px;
    height: 30px;
    border-radius: 15px;
    
    
}
.buttons{
    display: flex;
    padding-top: 15px;
    justify-content: center;
}
